/vendor/bundle/
/vendor/bundle-docker/
/vendor/ruby/

/log/*
/tmp/*

/config/database.yml

*.key
**.war
*.rbc
*.sassc
.redcar/
.ruby-lsp/
.rvmrc
.sass-cache
/config/config.yml
/coverage.data
/coverage/
/db/*.javadb/
/db/*.sqlite3
/doc/api/
/doc/app/
/doc/features.html
/doc/specs.html
/public/cache
/public/stylesheets/compiled
/public/system/*
/spec/tmp/*
/cache
/capybara*
/capybara-*.html
/gems
/specifications
rerun.txt
pickle-email-*.html
.zeus.sock
.DS_Store
.env.local
.env.development
.powenv
config/database.yml
.idea/
.byebug_history
spec/examples.txt
node_modules
npm-debug.log
client/build
data
coverage/
.envrc
client/.cache-loader
storage
vendor/cashier

# Vite Ruby
/public/vite*
node_modules
# Vite uses dotenv and suggests to ignore local-only env files. See
# https://vitejs.dev/guide/env-and-mode.html#env-files
*.local

