<h1>Добро пожаловать в History Prism!</h1>

<p>Для завершения регистрации подтвердите ваш email, перейдя по ссылке ниже:</p>

<p>
  <%= link_to 'Подтвердить email', confirm_email_url(@token) %>
</p>

<p>Ссылка действительна в течение 24 часов.</p>

<p>Если вы не регистрировались на History Prism, просто проигнорируйте это письмо.</p>
