<h1>Сброс пароля</h1>

<p>Вы запросили сброс пароля для вашего аккаунта на History Prism.</p>

<p>
  <%= link_to 'Сбросить пароль', edit_password_url(@token) %>
</p>

<p>Ссылка действительна в течение 15 минут.</p>

<p>Если вы не запрашивали сброс пароля, просто проигнорируйте это письмо.</p>
